.header {
    background-color: $black;
}
.logo-text {
    font-family: 'Leckerli One', cursive;
    font-size:38px;
}
.destionation-search {
    background-color: $blue;
}

.title-page {
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 9px black; 
    color: white;
    h1 {
        font-size: 5em;
    }
   uiActions h2 {
        font-size: 3em;
    }
}

.md-button.big-button {
    min-width: 200px;
    min-height: 70px;
    line-height: 70px;
}

@keyframes moveUp {
    0% {
    transform: translate(0);
    }
    100% {
    transform: rotate(-100vh);
    }
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.origin-search{
   
    text-align: center;
   // background-color:  #efefef;
      .title{
        font-family: 'Lobster', cursive;
        display: inline-block;
        text-align: center;
        .main {
         color: #630079; 
         font-family: "Lobster",cursive;
          font-size: 165px;
           line-height: 160px; 
           font-weight: normal; 
            margin-bottom: 0px;
             margin-top: 40px; 
             text-align: center;
              text-shadow: 0 1px 1px rgb(137, 137, 137); 


        }   
        .sub{
            font-size: 48px;
            line-height: 0;
        }
    }
}
ui-view.ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

ui-view.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

ui-view.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

ui-view.ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

ui-view.ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

.content-wrapper {
      background-image:    url('/assets/images/city.svg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
}