//FONT FAMILIES

// COLORS
$darkblue: #0B3C5D;
$black: #1D2731;
$gold: #D9B310;
$blue: #328CC1;
$light-gray : rgb(240, 240, 240);

/* component imports */
@import "./containers/home/home.style";
@import "./containers/evaluate/evaluate.style";
/* @import "./app/containers/destination-select/destination-select.style";*/
@import "./_components/plane/plane.style";
/*@import "./app/components/airport-search-input/airport-search-input.style"; */
@import "./_components/calendar/calendar.style";
@import "./_components/flip-clock/flip-clock.style";