//FONT FAMILIES

// COLORS
$darkblue: #0B3C5D;
$black: #1D2731;
$gold: #D9B310;
$blue: #328CC1;
$light-gray : rgb(240, 240, 240);

/* component imports */
@import "./app/containers/home/home.style";
/* @import "./app/containers/destination-select/destination-select.style";*/
@import "./app/components/plane/plane.style";
/*@import "./app/components/airport-search-input/airport-search-input.style"; */
